// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ****************** */
/*** Page Structure ***/
/* ****************** */
.post-edit-buttons {
}

.post-create {
    margin: 0px 0px 20px 0px;
}

.post-pagination {
    margin: 0px 0px 40px 0px;
}

.post-index {
    padding: 0px;
    // max-width: 600px;
    // margin-left: auto;
    // margin-right: auto;
}
.post {
    margin: 0px 0px 80px 0px;
    word-wrap: break-word;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #eee;
}

.post-title {
    font-size: 24px;
    color: black;
    /* color: #35597e; */
}

.post-state {
    color: black !important;
    font-size: 16px;
}

.post-title a {
    background-color: inherit;
    color: black !important;
    text-decoration: none;
}

.post-title a:hover {
    background-color: inherit;
    color: black !important;
    text-decoration: none;
}

.post-meta {
}

.post-words {
    color: grey;
    float: left;
}

.post-words:after {
    content: " reading";
}

.post-date {
    color: grey;
    float: right;
}

.post-description {
    text-align: justify;
    text-justify: inter-word;
}

.post-description {
    margin-top: 60px;
}

.post-tags, .post-more {
    margin-left: 20px;
}

.post-tags {
    margin-bottom: 20px;
    float: right;
}

.post-tags .label {
    background-color: #90b0d0;
}

.post-more {
    margin-top: 10px;
    background-color: white;
    color: #4579ae;
    border: 2px solid #4579ae;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.post-more:hover {
    background-color: #4579ae;
    color: white;
    text-decoration: none;
}

.post a.label:visited, #post-create:visited {
    color: white;
}

/* *********************** */
/*** Post inputs / forms ***/
/* *********************** */
.post textarea, .post input {
    overflow: hidden;
    width: 100%;
    // font-size: 14px;
    outline: none;
    display: block;
    border-radius: 4px;
    border: 4px solid #556677;
}

.post-title input {
    padding: 4px;
    margin: 10px auto;
}

.post-description textarea {
    padding: 10px;
    margin: 50px auto;
    resize: vertical;
    max-height: 50%;
}

/* ********************** */
/*** Post body markdown ***/
/* ********************** */
.post-description {
    color: #555555 !important;
    /* color: #35597e !important; */
}

.post-description ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 2.5em;
}

.post-description p {
    /* padding: 0px 0px 0px 0px; */
    margin: 0.6em 0.4em 1.4em 0.8em;
}
