// Place all the styles related to the Padding.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Pagination style

.pagination, .count-posts p {
    padding: 0px;
    margin: 0px;
}

.will_paginate, .apple_pagination {
    text-align: center;
}

.apple_pagination {
    a, span {
        padding: 0.2em 0.3em;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.5;
    }
    .current, a:hover, a:focus {
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        background-color: #90b0d0;
        text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
    }
    .current, a, a:hover, a:focus {
        text-decoration: none;
        color: #35597e;
    }

    a:hover, a:focus {
        font-weight: bold;
    }
}

.apple_pagination .disabled, .count-posts p {
    color: #4579ae;
}
